<!-- <div class="banner">
	<div id="my-carousel">
		<ol class="carousel-indicators">
			<li data-target = "#my-carousel" data-slide-to = "0" class = "active"></li>
			<li data-target = "#my-carousel" data-slide-to = "1"></li>
			<li data-target = "#my-carousel" data-slide-to = "2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="Work-Links-29" alt="work" class="img-responsive">
			</div>

			<div class="item">
				<img src="images/Work-Links-7" alt="work" class="img-responsive">
			</div>
			<div class="item">
				<img src="Work-Links-29" alt="work" class="img-responsive">
			</div>



			<div class="item active">
					<%= link_to image_tag("Work-Links-29.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %> 
			</div>

			<div class="item">
					<%= link_to image_tag("Work-Links-7.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %> 
			</div>

			<div class="item">
				<%= image_tag("Work-Links-7", class: "img-responsive") %> 
			</div>

		</div>
	</div>
	
</div> -->

<!-- <div class="container banner">
	<div class="owl-carousel">
		<div>
			<%= image_tag("Work-Links-7") %> 
		</div>
		<div>
			<%= image_tag("Work-Links-29") %> 
		</div>
	</div>
</div> -->


<!-- 
<div class="your-class">
  <div>no content</div>
  <div>more content</div>
  <div>your content</div>
</div>
 -->
<div class="container-fluid banner">

     <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
            <li data-target="#mycarousel" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag("Work-Links-29", :alt => "fleur") %>
            </div>
            <div class="item">
              <%= image_tag("Work-Rechts-1", :alt => "fleur") %>
            </div>
            <div class="item">
              <%= image_tag("Work-Rechts-2", :alt => "fleur") %>
            </div>
          </div>
</div>


<div class="container">
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
</div>