<div class="container-fluid">
	<h2>Portfolio</h2>

	<div class="nav-case">
		<ul class="case">
			<li>Shoot Amsterdam 4 april</li>
			<li>Queens Project</li>
			<li>Mofo's</li>
			<li>Party People</li>
		</ul>
	</div>




	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<%= image_tag("fleur-1", class: "work-show-case") %> 
		<%= image_tag("fleur-2", class: "work-show-case") %> 
		<%= image_tag("fleur-3", class: "work-show-case") %> 
		<%= image_tag("fleur-4", class: "work-show-case") %> 
		<%= image_tag("fleur-5", class: "work-show-case") %> 
		<%= image_tag("fleur-6", class: "work-show-case") %> 
		<%= image_tag("fleur-7", class: "work-show-case") %> 
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<%= image_tag("fleur-8", class: "work-show-case") %> 
		<%= image_tag("fleur-9", class: "work-show-case") %> 
		<%= image_tag("fleur-10", class: "work-show-case") %> 
		<%= image_tag("fleur-11", class: "work-show-case") %> 
		<%= image_tag("fleur-12", class: "work-show-case") %> 
		<%= image_tag("fleur-13", class: "work-show-case") %> 
		<%= image_tag("fleur-14", class: "work-show-case") %>  
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<%= image_tag("fleur-15", class: "work-show-case") %> 
		<%= image_tag("fleur-16", class: "work-show-case") %> 
		<%= image_tag("fleur-17", class: "work-show-case") %> 
		<%= image_tag("fleur-18", class: "work-show-case") %> 
		<%= image_tag("fleur-19", class: "work-show-case") %> 
		<%= image_tag("fleur-20", class: "work-show-case") %> 
		<%= image_tag("fleur-21", class: "work-show-case") %> 
	</div>

</div>